@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
header {
    background-color: aquamarine;
    width: 100%vh;
    height: 50px;
}
body {
    background-color: black;
    color: white;
}
main {
    background-color: rgb(69, 65, 208);
}


